{% extends 'base.html' %}
{% load static %}

<!-- Inserts relevant recipe into the title of the page -->
{% block title %}
| About
{% endblock %}

{% block content %}


<div class="container">
    <div class="row d-flex align-items-center about">

        <!-- About Section -->
        <div class="about-section col-lg-8 col-md-12">
            <h1>Welcome to Nourish!</h1>
            <p>At Nourish, we’re all about sharing the joy of cooking and eating well. Our website is your go-to spot
                for discovering delicious recipes to suit every craving and occasion. Whether you’re whipping up a quick
                midweek meal, impressing your guests, or diving into something adventurous, you’ll find plenty of
                inspiration here with clear instructions to get you sorted.</p>
            <p>Nourish is more than just a recipe collection—it’s a community! When you <a
                    href="{% url 'account_signup' %}" class="link" aria-label="Registration page opens in new tab"
                    target="_blank">sign up</a>, you’ll join a vibrant group of fellow foodies who love to cook, share,
                and connect. Leave comments, share feedback, and swap tips to help others bring recipes to life. Your
                voice matters here, and we love hearing what you’ve created.</p>
            <p>We’re a team of passionate cooks who believe in the magic of sharing good food and great ideas!</p>
        </div>

        <!-- Image Section -->
        <div class="image-section col-lg-4 col-md-12">
            <img src="{% static 'images/nourish-logo-large.png' %}" class="w-100 about-page-image"
                alt="Logo of cutlery on plate">
        </div>
    </div>

    <!-- Meet the Team Section -->
    <div class="container meet-team">
        <h2 class="team-title">Meet the Team</h2>
        <div class="row">
            <div class="col-12 d-flex align-items-center mb-3 team-member">
                <img src="{% static 'images/ailsa-jenkins.webp' %}" alt="Photo of Ailsa Jenkins"
                    class="team-photo me-3">
                <div class="team-info">
                    <h3 class="team-name">Ailsa Jenkins</h3>
                    <p>Ailsa is the Founder of Nourish and a passionate home cook with a deep love for all things
                        nourishing. She believes in using fresh, seasonal ingredients to create hearty and flavorful
                        dishes that warm the soul. Expect to find plenty of warming soups and comforting stews.</p>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center mb-3 team-member">
                <img src="{% static 'images/arlo-boateng.webp' %}" alt="Photo of Arlo Boateng" class="team-photo me-3">
                <div class="team-info">
                    <h3 class="team-name">Arlo Boateng</h3>
                    <p>Arlo is a talented home cook with a passion for flavourful cuisine. His recipes are a vibrant
                        celebration of spices, with dishes that are both mouth-watering and healthy. These dishes will
                        burst with the taste of ginger, chilli, and coconut milk.</p>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center mb-3 team-member">
                <img src="{% static 'images/elena-petrov.webp' %}" alt="Photo of Elena Petrov" class="team-photo me-3">
                <div class="team-info">
                    <h3 class="team-name">Elena Petrov</h3>
                    <p>Elena is a passionate cook who brings the heart and soul of Eastern European cuisine to her
                        kitchen. Her recipes are a delightful blend of tradition and creativity, always bursting with
                        flavor and infused with a touch of magic.</p>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center mb-3 team-member">
                <img src="{% static 'images/jamie-wong.webp' %}" alt="Photo of Jamie Wong" class="team-photo me-3">
                <div class="team-info">
                    <h3 class="team-name">Jamie Wong</h3>
                    <p>Jamie is a trained chef who is passionate about exploring the diverse flavours of Asian cuisine.
                        His recipes are a fusion of traditional techniques and modern twists, with a focus on fresh,
                        seasonal ingredients. </p>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center mb-3 team-member">
                <img src="{% static 'images/shazia-khan.webp' %}" alt="Photo of Shazia Khan" class="team-photo me-3">
                <div class="team-info">
                    <h3 class="team-name">Shazia Khan</h3>
                    <p>Shazia is a passionate home cook who believes in the power of food to bring people together. Her
                        recipes are a vibrant celebration of spices and flavors, inspired by her love of cooking and her
                        desire to share delicious food with others.</p>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}