{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Masthead -->
<section class="masthead">
  <div class="container masthead-container">
    <h1 class="masthead-title">Nourish</h1>
    <h2 class="masthead-subheading">Recipes that make you feel good</h2>
  </div>
</section>

<!-- Search bar -->
<section>
  <div class="container search-container">
    <form method="get" action="." class="search-form">
      <div class="search-bar">
        <!-- Label hidden but available for screen readers -->
        <label for="search" class="visually-hidden">Search for recipes</label>
        <input id="search" required type="text" name="search" placeholder="Find your next favourite recipe..."
          value="{{ request.GET.search }}" class="search-input" list="suggestions" onfocus="this.value='';">
        <button type="submit" class="search-button" aria-label="Search button for search bar">
          <i class="fas fa-search"></i>
        </button>
      </div>

      <!-- Suggested search terms -->
      <datalist id="suggestions">
        <option value="Vegetarian">
        <option value="Vegan">
        <option value="Gluten free">
        <option value="Meat">
        <option value="Fish">
        <option value="Breakfast">
        <option value="Lunch">
        <option value="Dinner">
        <option value="Meat">
        <option value="Under 30 mins">
        <option value="Budget eats">
        <option value="Wow your guests">
      </datalist>
    </form>
  </div>
</section>

<!-- Recipe Entries -->
<section>
  <div class="col-12 mt-3 left">
    <!-- Iterates through all recipes -->
    {% if object_list %}
    <div class="row">
      {% for recipe in object_list %}
      <div class="col-lg-3 col-sm-6">
        <div class="card mb-4">
          <a href="{% url 'recipe_detail' recipe.slug %}" aria-label="Link to recipe">
            <div class="card-body">
              <div class="image-container">
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="card-img-top homepage-image" src="{% static 'images/placeholder.jpg' %}"
                  alt="placeholder image">
                {% else %}
                <img class="card-img-top homepage-image" src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}">
                {% endif %}
              </div>
            </div>
          </a>
          <div class="card-body">
            <h2 class="card-title">
              <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link post-link" aria-label="Link to recipe">
                {{ recipe.title }}
              </a>
            </h2>
            <p class="category-list-home">
              {% for category in recipe.categories.all %}
              {{ category.name }}{% if not forloop.last %} | {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <!-- Displays when search query returns no recipes -->
    <div class="no-results m-4">
      <p class="bold">Oops...We don't have anything that matches that.</p>
      <p>Why not try searching for one of these? Vegan, Gluten-free, Meat, Fish, Budget eats, Under 30 mins...</p>
    </div>
    {% endif %}
  </div>

  <!-- Next and previous buttons that only display when relevant -->
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}"
          class="page-link" aria-label="Goes to previous page">&laquo; PREV</a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}"
          class="page-link" aria-label="Goes to next page">NEXT &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</section>

{% endblock %}